<html>

<body>
  <h2>Cottage Connects - { date } </h2>
  <p>
    <a href="mailto:cottageconnects@gmail.com">Compose a New Post</a>
  </p>
  <p>
    There were no messages posted to Cottage Connects in the last 24 hours.<br />
    -------------<br />
    You recieved this message as a subscriber to Cottage Connects.<br />
    Anyone can become a subscriber by sending a blank email with the subject "subscribe" to <a
      href="mailto:cottageconnects.subscribe@gmail.com?Subject=subscribe">cottageconnects.subscribe@gmail.com.</a><br />
    To unsubscribe from this digest send a blank email with the subject "unsubscribe" to <a a
      href="mailto:cottageconnects.unsubscribe@gmail.com?Subject=unsubscribe">cottageconnects.unsubscribe@gmail.com.</a><br />
    This discussion list is provided by Sally and Michael Penrod.<br />
  </p>
</body>

</html>